<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB86_6Mn0DKyVSi1ctDXIhCYpIOjJgwooc</string>
	<key>GCM_SENDER_ID</key>
	<string>882795308293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.enigma.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>enigma-8300a</string>
	<key>STORAGE_BUCKET</key>
	<string>enigma-8300a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882795308293:ios:f12218a0137c9389c1436c</string>
</dict>
</plist>